.container {
  display: flex;
  gap: 36px;
  font-size: 32px;
  padding-left: 16px;
}
.link {
  text-decoration: none;
  color: #385af5;
  padding: 6px;
  
}
.link:hover {
  color: #001a8d;
  border: 1px solid #001a8d;
  border-radius: 4px;
}
.isActive {
  color: #ec7702;
}