.container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.button {
  border: 1px solid #385af5;
  color: #385af5;
  border-radius: 4px;
  padding: 6px;
}

.button:hover {
  color: #001a8d;
  border: 1px solid #001a8d;
  border-radius: 4px;
}